/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.dark {
    background-color: #121212;
    color: #f0f0f0;
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling for anchor links */
}















